  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">Dados Pessoais</h3>
    </div><!-- /.box-header -->
		
		<!-- form start -->
    <form class="form-horizontal">
      
      <div class="box-body">


  			<div class="form-group row">
  			  <label class="col-sm-1 control-label">Cemitério:</label>
  			  
          <div class="col-xs-3">
            <% if params[:action] == 'concessao' %>
              <%= select_tag "lote[cemiterio_id]", options_for_select(cemiterios), :prompt => "", class:"form-control" %>
            <% elsif params[:action] == 'renovacao' %>
              <%= select_tag "lote[cemiterio_id]", options_for_select(cemiterios_determinados), :prompt => "", class:"form-control" %>
            <% end %>
  				</div>
  			</div>
  			
  			
  			<div class="form-group row">
    	    <label for="lote_quadra" class="col-sm-1 control-label">Quadra:</label>
      	  <div class="col-sm-1">
        	  <%= text_field_tag "lote[quadra]", nil, class:"form-control" %>
  				</div>
  											
  				<label for="lote_terreno" class="col-sm-1 control-label">Terreno:</label>
          <div class="col-sm-1">
            <%= text_field_tag "lote[terreno]", nil, class:"form-control" %>
  				</div>
  				
  				<label for="lote_gleba" class="col-sm-1 control-label">Gleba:</label>
    	    <div class="col-sm-1">
      	    <%= text_field_tag "lote[gleba]", nil, class:"form-control" %>
  				</div>
  				
  				<div class="col-sm-6">
  				
  				  <label for="lote_rua" class="col-sm-1 control-label">Rua:</label>
    	      <div class="col-sm-2">
      	      <%= text_field_tag "lote[rua]", nil, class:"form-control" %>
  				  </div>
  				
  				  <label for="lote_avenida" class="col-sm-1 control-label">Av.:</label>
    	      <div class="col-sm-2">
      	      <%= text_field_tag "lote[avenida]", nil, class:"form-control" %>
  				  </div>
  				
  				  <div class="col-sm-2">
    			    <span id="ajax_renovacao_lote_criar_novo_lote" class="btn btn-success"><i class="fa fa-plus"></i></span>
            </div>
    			    
    			  <div class="col-sm-2">
  		  	    <span id="ajax_renovacao_lote_buscar" class="btn btn-warning"><i class="fa fa-search"></i></span>
  			    </div>
  			    
  			    <div class="col-sm-2">
  		  	    <span id="ajax_renovacao_lote_limpar" class="btn btn-default"><i class="fa fa-refresh"></i></span>
  			    </div>
  				</div>
  			</div>

        <!--<span id="ajax_renovacao_lote_limpar" class="btn btn-warning"><i class="fa fa-search"></i>Limpar</span> <br>-->

        <div id="table-wrapper">
          <div id="table-scroll">
            <table>
              <thead>
                <tr>
                  <th><span class="text">Quadra</span></th>
                  <th><span class="text">Terreno</span></th>
                  <th><span class="text">Gleba</span></th>
                  <th><span class="text">Rua</span></th>
                  <th><span class="text">Avenida</span></th>
                  <th><span class="text">Concessionário</span></th>
                  <th><span class="text">Estado</span></th>
                </tr>
              </thead>
              <tbody id="corpo_tabela">
              </tbody>
            </table>
          </div>
        </div>
        
      </div><!-- /.box-body -->
									
	  </form>
	</div><!-- /.box -->

  
  
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">Informações Adicionais</h3>
    </div><!-- /.box-header -->
		
		<!-- form start -->
    <form class="form-horizontal">
      
      <div class="box-body">
        <div class="form-group row">
          <div class="col-sm-5">
            <label for="lote_largura" class="col-sm-3 control-label">Largura:</label>
            <div class="col-sm-3">
              <%= text_field_tag "lote[largura]", nil, class:"form-control" %>
            </div>
            
            <label for="lote_comprimento" class="col-sm-3 control-label">Comprimento:</label>
            <div class="col-sm-3">
              <%= text_field_tag "lote[comprimento]", nil, class:"form-control" %>
            </div>
          </div>
          <div class="col-sm-5">
            <label class="col-sm-4 control-label">Tipo Construção:</label>
            <div class="col-sm-6">
              <%= select_tag "lote[tipo_construcao]", options_for_select([ "", "Capela", "Carneiro", "Columbário", "Gaveta" ]), class:"form-control" %>
  				  </div>
          </div>
        </div>
  			    
        
        
  			<div class="form-group row">
          <div class="col-sm-5">
  				  <label for="lote_qtd_gaveta" class="col-sm-3 control-label">Qtd. Gavetas:</label>
    	      <div class="col-sm-3">
      	      <%= text_field_tag "lote[qtd_gaveta]", nil, class:"form-control" %>
  				  </div>
  				
  				  <label for="lote_qtd_ossario" class="col-sm-3 control-label">Qtd. Ossário:</label>
    	      <div class="col-sm-3">
      	      <%= text_field_tag "lote[qtd_ossario]", nil, class:"form-control" %>
  				  </div>
          </div>
          <div class="col-sm-5">
            <label class="col-sm-4 control-label">Tempo concessao:</label>
            <div class="col-sm-6">
              <%= select_tag "concessao_renovacao[periodo_concessao]", options_for_select([ "", "05 Anos", "25 Anos", "Indeterminada"]), class:"form-control" %>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  
  
  <div class="modal fade modal-center" id="modal_lote" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Criar novo lote</h4>
        </div>
        <div class="modal-body">
          
          <div class="row">
            <div class=col-md-4>
              <label class="control-label">Cemitério:</label>
            <% if params[:action] == 'concessao' %>
              <%= select_tag "novo_lote[cemiterio_id]", options_for_select(cemiterios_indeterminados), :prompt => "", class:"form-control" %>
            <% elsif params[:action] == 'renovacao' %>
              <%= select_tag "novo_lote[cemiterio_id]", options_for_select(cemiterios_determinados), :prompt => "", class:"form-control" %>
            <% end %>
            </div>
            <div class=col-md-4>
        	    <label for="lote_quadra" class="control-label">Quadra:</label>
            	<%= text_field_tag "novo_lote[quadra]", nil, class:"form-control" %>
            </div>
            <div class=col-md-4>
      				<label for="lote_terreno" class="control-label">Terreno:</label>
              <%= text_field_tag "novo_lote[terreno]", nil, class:"form-control" %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class=col-md-4>
      				<label for="lote_gleba" class="control-label">Gleba:</label>
        	    <%= text_field_tag "novo_lote[gleba]", nil, class:"form-control" %>
            </div>
            <div class=col-md-4>
      				<label for="lote_rua" class="control-label">Rua:</label>
        	    <%= text_field_tag "novo_lote[rua]", nil, class:"form-control" %>
            </div>
            <div class=col-md-4>
      				<label for="lote_avenida" class="control-label">Av.:</label>
        	    <%= text_field_tag "novo_lote[avenida]", nil, class:"form-control" %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class=col-md-4>
      				<label for="lote_largura" class="control-label">Largura:</label>
        	    <%= text_field_tag "novo_lote[largura]", nil, class:"form-control" %>
            </div>
            <div class=col-md-4>
      				<label for="lote_comprimento" class="control-label">Comprimento:</label>
        	    <%= text_field_tag "novo_lote[comprimento]", nil, class:"form-control" %>
            </div>
            <div class=col-md-4>
      				<label class="control-label">Tipo Construção:</label>
        	    <%= select_tag "novo_lote[tipo_construcao]", options_for_select([ "", "Capela", "Carneiro", "Columbário", "Gaveta" ]), class:"form-control" %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class=col-md-4>
      				<label for="lote_qtd_gaveta" class="col-sm-3 control-label">Qtd. Gavetas:</label>
        	    <%= text_field_tag "novo_lote[qtd_gaveta]", nil, class:"form-control" %>
            </div>
            <div class=col-md-4>
      				<label for="lote_qtd_ossario" class="col-sm-3 control-label">Qtd. Ossário:</label>
        	    <%= text_field_tag "novo_lote[qtd_ossario]", nil, class:"form-control" %>
            </div>
          </div>
  	    
				</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" id="criar_novo_lote_modal">Criar lote</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
