
<div class="lockscreen-wrapper">
  <div class="lockscreen-block">  
    <%= image_tag("logo-branco.png")%>
    <!-- User name -->
    <div class="lockscreen-name"><%= current_funcionario.nome %></div>

    <!-- START LOCK SCREEN ITEM -->
    <div class="lockscreen-item">
      <div class="lockscreen-image">
          <%= image_tag("lock.png")%>
      </div>
      <div class="input-group">
      
        <%= form_tag unlock_path, class: "lockscreen-credentials" do %>
        <%= password_field_tag 'senha', nil, placeholder: "Senha", class: "form-control", autofocus: true %>
        <div class="input-group-btn">
          <%= button_tag(type: 'submit', class: "btn", style: "border-radius: 20px;") do %>
          <i class="fa fa-arrow-right text-muted", style="margin: 10px 0px 0px 9px;"></i> 
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



