<!DOCTYPE html>
<html>
<head>
  <title>Cibel - Concessão</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
</head>
<body>
  <div class="body">
    <div>      
      <%= render 'layouts/header' if params[:controller] != 'sessions' %>  
    </div>    
    	<%= yield %>    	
    <div>      
      <%= render 'layouts/footer' %>      
    </div>
  </div>
</body>
</html>
